<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DOCX to PDF Converter</title>
    
    <!-- Include Bulma CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.min.css">

    <!-- Include Vue.js -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <!-- Include Axios via CDN -->
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

</head>
<body class="bg-gray-100">


    <div id="app" class="hero is-fullheight is-flex is-align-items-center is-justify-content-center">
        <div class="container">
            <div class="box">
                <h1 class="title is-2">Upload DOCX File</h1>
                <form @submit.prevent="convertToPDF" enctype="multipart/form-data" method="post">
                    <div class="field">
                        <label for="docxFile" class="label">Choose a DOCX file:</label>
                        <div class="control">
                           <input type="file" @change="onFileChange"  name="docxFile" id="docxFile" accept=".docx" required class="input">

                        </div>
                    </div>
                    <div class="field">
                        <div class="control">
                            <button type="submit" class="button is-primary">Convert to PDF</button>
                        </div>
                    </div>
                </form>
            </div>
            <div v-if="pdfLink" class="box">
                <p v-html="pdfLink"></p>
            </div>
            <div v-if="errorMessage" class="box">
                <p class="has-text-danger">{{ errorMessage }}</p>
            </div>
        </div>
    </div>

    <!-- Include your Vue.js application script -->
    <script src="./assets/js/app.js"></script>
</body>
</html>
